* {
    margin: 0;
    padding: 0;
    color: rgba(148, 93, 59);
}

.container {
    height: 800px;
    width: 500px;
    padding-top: 30px;

    background-image: url(../../assets/images/backgrounds/OLD_PAPER_TEXTURE.jpg);
    background-size: cover;
    box-shadow: 0px 0px 15px 10px rgba(148, 93, 59, 0.8);

    font-family: Candara, serif;

    display: flexbox;
    justify-content: center;

}

h3, h4 {
    text-align: center;
}

.buttons {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    gap: 20px;

    
}

.get-button {
    width: 100px;

    background-color: transparent;
    
    border: 5px solid rgba(148, 93, 59);
    border-radius: 15%;
    
}

.namepad {
    height: 570px;
    width: 500px;
    margin: 20px 0 20px 40px;

    border: 1px solid transparent;

    background-image: url(../../assets/images/notepad_plus_pen.png);
    background-size:cover;
    
}

.name-list {
    margin: 130px 0 0 100px;
    list-style-type: none;
    font-family: Candara, serif;
    font-size: larger;
}