<div class="info">
    
    <h1 class="page-title">
        Random Name Generator
    </h1>
    <nav class="navigation">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#">Home</a>
            </li>
            <li class="nav-item">
                <a href="#">My account</a>
            </li>
        </ul>
    </nav>
</div>



<!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Iure vel assumenda, suscipit laborum quos atque aut a repellendus
     asperiores odit quis culpa ipsum quas ipsam deleniti est soluta
      quam? Eos?

</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Iure vel assumenda, suscipit laborum quos atque aut a repellendus
     asperiores odit quis culpa ipsum quas ipsam deleniti est soluta
      quam? Eos?

</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Iure vel assumenda, suscipit laborum quos atque aut a repellendus
     asperiores odit quis culpa ipsum quas ipsam deleniti est soluta
      quam? Eos?

</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Iure vel assumenda, suscipit laborum quos atque aut a repellendus
     asperiores odit quis culpa ipsum quas ipsam deleniti est soluta
      quam? Eos?

</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Iure vel assumenda, suscipit laborum quos atque aut a repellendus
     asperiores odit quis culpa ipsum quas ipsam deleniti est soluta
      quam? Eos?

</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Iure vel assumenda, suscipit laborum quos atque aut a repellendus
     asperiores odit quis culpa ipsum quas ipsam deleniti est soluta
      quam? Eos?

</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Iure vel assumenda, suscipit laborum quos atque aut a repellendus
     asperiores odit quis culpa ipsum quas ipsam deleniti est soluta
      quam? Eos?

</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Iure vel assumenda, suscipit laborum quos atque aut a repellendus
     asperiores odit quis culpa ipsum quas ipsam deleniti est soluta
      quam? Eos?

</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Iure vel assumenda, suscipit laborum quos atque aut a repellendus
     asperiores odit quis culpa ipsum quas ipsam deleniti est soluta
      quam? Eos?

</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Iure vel assumenda, suscipit laborum quos atque aut a repellendus
     asperiores odit quis culpa ipsum quas ipsam deleniti est soluta
      quam? Eos?

</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Iure vel assumenda, suscipit laborum quos atque aut a repellendus
     asperiores odit quis culpa ipsum quas ipsam deleniti est soluta
      quam? Eos?

</p> -->
