* {
   margin: 0%;
   padding: 0%;
}

.info {
   position: relative;
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
   font-family: Candara, sans-serif;
   text-align: center;

   background-color: rgba(56, 56, 56, 0.323);
}


.page-title {
   width: 100%;
   color: whitesmoke;
   text-shadow: 5px 5px 5px brown, 0 0 1em rgb(178, 178, 212), 0 0 0.2em black;
   font-family: Harrington;
}

.navigation {
   margin-top: 5px;
   display:flex;
   list-style:none;
   padding: 0px;
   justify-content: space-between;
}

.nav-list {
   display: flex;
   align-items: end;
}

.nav-item {
   padding:5px 10px;   
   display: flex;
   justify-content: space-between;
   border-bottom: 3px solid whitesmoke;
}

a {
   text-decoration: none;
   color: whitesmoke;
}


