* {
    margin: 0;
    padding: 0;
}

.container {
    height: fit-content;
    width: 75%;
    padding: 10px;
    overflow: visible;
    
    font-family: Candara, serif;
    color: rgba(110, 38, 14);
    
    background-image: url(../../assets/images/backgrounds/OLD_PAPER_TEXTURE.jpg);
    background-size: cover;
    box-shadow: 0px 0px 15px 10px rgba(148, 93, 59, 0.8);
}

h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
    text-align: justify;
    
}

.notice-footer {
    margin-top: 75px;
    font-style: italic;
}

